fastapi==0.115.12
uvicorn[standard]==0.34.3
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
pydantic[email]==2.11.5
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
# bcrypt==4.3.0
bcrypt==4.0.1
python-dotenv==1.1.0
pydantic-settings==2.9.1
alembic==1.16.1
python-multipart==0.0.20
requests==2.32.3

black==25.1.0
ruff==0.11.12
